* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.button-slide-lite {
  background: none;
  width: 220px;
  height: 70px;
  border: 4px solid #FFFFFF;
  font: bold 22px/26px "Roboto", sans-serif;
  color: #FFFFFF;
  letter-spacing: 0.1em;
}
.button-slide-lite:hover {
  text-decoration: underline;
}
@media (max-width: 500px) {
  .button-slide-lite {
    margin-bottom: 10px;
  }
}

.button-slide-green {
  width: 220px;
  height: 70px;
  background: #00897B;
  border: 4px solid #00897B;
  font: bold 22px/26px "Roboto", sans-serif;
  color: #FFFFFF;
  letter-spacing: 0.1em;
}
.button-slide-green:hover {
  text-decoration: underline;
}

.service-blog_block_button {
  background-color: #00897B;
  min-width: 220px;
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 110%;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 50px 0 115px 0;
}
.service-blog_block_button:hover {
  text-decoration: underline;
}

.button-lite, .button-dark {
  border-radius: 3px;
  min-width: 220px;
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: 600 16px/119% "Open Sans", sans-serif;
  color: #0F3D33;
  padding: 5px 10px;
}

/*
@mixin content__block-title-text {
  font-family: $f-family-Open;
  font-size: 38px;
  line-height: 50/38*100%;
  color: $color-black;
  font-weight: bold;
}
@mixin content__block-content-text {
  font-family: $f-family-Open;
  font-size: 18px;
  line-height: 32/18*100%;
  color: $color-black;
}

@mixin pricing-title-text {
  font-family: $f-family;
  font-size: 38px;
  line-height: 50/38*100%;
  color: $color-black;
  font-weight: bold;
}
@mixin pricing-content-text {
  font-family: $f-family;
  font-size: 18px;
  line-height: 32/18*100%;
  color: $color-black;
}

@mixin footer_menu_text {
  font-family: $f-family;
  font-size: 16px;
  line-height: 34 / 16 * 100%;
  color: $color_text_menu_footer;
}
@mixin footer_bottom_text {
  font-family: $f-family;
  font-size: 12px;
  line-height: 18 / 12 * 100%;
  color: $color_text_bottom_footer;
}

@mixin feedback__form {
  font-family: $f-family;
  font-size: 14px;
  line-height: 50 / 14 * 100%;
  color: $color_black;
}

@mixin media-max-width ($max-width) {
  @media screen {
    max-width: $max-width;
  }
}
*/
.button-dark {
  background-color: #50e3c2;
}

.button-lite {
  background-color: rgba(80, 227, 194, 0.14);
}

.wrapper {
  width: 100%;
  height: 100%;
}
.wrapper .header {
  background-color: #FFFFFF;
  width: 100%;
}
.wrapper .header .header__body {
  min-height: 120px;
  max-width: 1375px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.wrapper .header .header__body .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .header .header__body .header__logo .header__logo_text p {
  font-family: "Open Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}
.wrapper .header .header__body .header__menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.wrapper .header .header__body .header__menu .menu__list .menu__item {
  margin-left: 50px;
}
.wrapper .header .header__body .header__menu .menu__list .menu__item a {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 110%;
  color: #000000;
  font-weight: 600;
}
.wrapper .header .header__body .header__menu .menu__list .menu__item a:hover {
  text-decoration: underline;
}
@media (max-width: 1200px) {
  .wrapper .header .header__body .header__menu .menu__list .menu__item a {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 110%;
    color: #000000;
    font-weight: 600;
  }
}
@media (max-width: 1200px) {
  .wrapper .header .header__body .header__menu .menu__list .menu__item {
    margin-left: 40px;
  }
}
.wrapper .slide {
  background: url("../img/content-top-fon.png") center center/cover no-repeat;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper .slide .slide__container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1375px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 747px;
}
.wrapper .slide .slide__container .slide__title {
  font-family: "Open Sans", sans-serif;
  font-size: 70px;
  line-height: 70px;
  color: #FFFFFF;
  padding-top: 217px;
  font-weight: 600;
  margin-bottom: 61px;
  text-align: center;
}
@media (max-width: 500px) {
  .wrapper .slide .slide__container .slide__title {
    font-family: "Open Sans", sans-serif;
    font-size: 50px;
    line-height: 50px;
    color: #FFFFFF;
    text-align: center;
  }
}
.wrapper .slide .slide__container .slide__text {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #FFFFFF;
  margin-bottom: 127px;
  text-align: center;
}
@media (max-width: 500px) {
  .wrapper .slide .slide__container .slide__text {
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
    text-align: center;
  }
}
.wrapper .slide .slide__container .slide__button-block {
  max-width: 479px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 129px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 500px) {
  .wrapper .slide .slide__container .slide__button-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.wrapper .about {
  width: 100%;
}
.wrapper .about .about__container {
  max-width: 1220px;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .about .about__container .about__title {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  line-height: 136.1111111111%;
  font-weight: bold;
  text-align: center;
  padding-top: 115px;
  margin-bottom: 30px;
}
.wrapper .about .about__container .about__text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 133.3333333333%;
  text-align: center;
  margin-bottom: 102px;
}
@media (max-width: 748px) {
  .wrapper .about .about__container .about__text {
    margin-bottom: 70px;
  }
}
.wrapper .about .about__container .about__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 115px;
}
.wrapper .about .about__container .about__block .about_little_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 237px;
}
.wrapper .about .about__container .about__block .about_little_block .about__block_img {
  margin-bottom: 30px;
}
.wrapper .about .about__container .about__block .about_little_block .about__block_title {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 22px;
  color: #000000;
  font-weight: 600;
  margin-bottom: 30px;
}
.wrapper .about .about__container .about__block .about_little_block .about__block_text {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  text-align: center;
}
@media (max-width: 748px) {
  .wrapper .about .about__container .about__block .about_little_block .about__block_text {
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .wrapper .about .about__container .about__block .about_little_block {
    margin: 0 5px;
  }
}
@media (max-width: 748px) {
  .wrapper .about .about__container .about__block .about_little_block {
    max-width: 750px;
    width: 100%;
  }
}
@media (max-width: 748px) {
  .wrapper .about .about__container .about__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}
.wrapper .service {
  width: 100%;
  background-color: #E4FDF9;
}
.wrapper .service .service__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1220px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}
.wrapper .service .service__container .service__title {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  line-height: 136.1111111111%;
  font-weight: bold;
  text-align: center;
  padding-top: 115px;
  margin-bottom: 30px;
}
.wrapper .service .service__container .service__text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 133.3333333333%;
  text-align: center;
  margin-bottom: 110px;
}
.wrapper .service .service__container .service__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.wrapper .service .service__container .service__block .type__service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 370px;
  background-color: #FFFFFF;
  padding: 50px 30px;
  margin: 17px;
}
.wrapper .service .service__container .service__block .type__service .type__service_img {
  margin-bottom: 40px;
}
.wrapper .service .service__container .service__block .type__service .type__service_title {
  margin-bottom: 20px;
  font: 600 20px/22px "Open Sans", sans-serif;
  text-align: center;
}
.wrapper .service .service__container .service__block .type__service .type__service_text {
  margin-bottom: 40px;
  font: 15px/25px "Open Sans", sans-serif;
  text-align: center;
}
.wrapper .service .service__container .service__block .type__service .type__service_button {
  width: 160px;
  height: 55px;
  border: 2px solid #000000;
  background-color: #FFFFFF;
  font: 600 20px/22px "Open Sans", sans-serif;
}
.wrapper .service .service__container .service__block .type__service .type__service_button:hover {
  text-decoration: underline;
}
.wrapper .service .service__container .service__block .type__service:first-child {
  background: #00897B;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
}
.wrapper .service .service__container .service__block .type__service:first-child .type__service_title {
  color: #FFFFFF;
}
.wrapper .service .service__container .service__block .type__service:first-child .type__service_text {
  color: #FFFFFF;
}
.wrapper .service .service__container .service__block .type__service:first-child .type__service_button {
  background: #00897B;
  border-color: #FFFFFF;
  color: #FFFFFF;
}
@media (max-width: 1213px) {
  .wrapper .service .service__container .service__block .type__service {
    max-width: 360px;
    padding: 50px 20px;
  }
}
@media (max-width: 1183px) {
  .wrapper .service .service__container .service__block .type__service {
    max-width: 320px;
    margin: 10px;
    padding: 40px 10px;
  }
}
@media (max-width: 1213px) {
  .wrapper .service .service__container .service__block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.wrapper .pricing {
  width: 100%;
  background: #F0F1F1;
}
.wrapper .pricing .pricing__container {
  max-width: 1372px;
  min-height: 1142px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .pricing .pricing__container .pricing__title {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  line-height: 136.1111111111%;
  font-weight: bold;
  text-align: center;
  padding-top: 115px;
  margin-bottom: 30px;
}
.wrapper .pricing .pricing__container .pricing__text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 133.3333333333%;
  text-align: center;
  margin-bottom: 115px;
}
.wrapper .pricing .pricing__container .pricing__list {
  width: 100%;
}
.wrapper .pricing .pricing__container .pricing__list .price__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.wrapper .pricing .pricing__container .pricing__list .price__block .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 388px;
  height: 669px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 3px 25px rgba(0, 0, 0, 0.35);
          box-shadow: 0 3px 25px rgba(0, 0, 0, 0.35);
  margin: 10px;
}
.wrapper .pricing .pricing__container .pricing__list .price__block .price .price_blu-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 85px;
  background: #3949AB;
  margin-bottom: 25px;
}
.wrapper .pricing .pricing__container .pricing__list .price__block .price .price_blu-block .rate {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  line-height: 88%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 49px;
}
.wrapper .pricing .pricing__container .pricing__list .price__block .price .price_blu-block .rate-month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.wrapper .pricing .pricing__container .pricing__list .price__block .price .price_blu-block .rate-month .currency {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  line-height: 88%;
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
  top: -8px;
}
.wrapper .pricing .pricing__container .pricing__list .price__block .price .price_blu-block .rate-month .money {
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  line-height: 44%;
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin-left: 3px;
}
.wrapper .pricing .pricing__container .pricing__list .price__block .price .price_blu-block .rate-month .period {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 110%;
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin-left: 11px;
}
@media (max-width: 1215px) {
  .wrapper .pricing .pricing__container .pricing__list .price__block .price .price_blu-block {
    padding: 50px 50px;
  }
}
.wrapper .pricing .pricing__container .pricing__list .price__block .price .list {
  margin-bottom: 46px;
  width: 188px;
}
.wrapper .pricing .pricing__container .pricing__list .price__block .price .list li {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 411.7647058824%;
  text-align: center;
  letter-spacing: 0.1em;
  color: #000000;
  border-bottom: 1px solid #BFBFBF;
}
.wrapper .pricing .pricing__container .pricing__list .price__block .price .price__button {
  width: 189px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  border: 2px solid #000000;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}
.wrapper .pricing .pricing__container .pricing__list .price__block .price .price__button:hover {
  text-decoration: underline;
}
.wrapper .pricing .pricing__container .pricing__list .price__block .price .price__button-green {
  width: 189px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #00897B;
  border: 2px solid #00897B;
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.wrapper .pricing .pricing__container .pricing__list .price__block .price .price__button-green:hover {
  text-decoration: underline;
}
.wrapper .pricing .pricing__container .pricing__list .price__block .price:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
@media (max-width: 1215px) {
  .wrapper .pricing .pricing__container .pricing__list .price__block .price {
    max-width: 320px;
  }
}
@media (max-width: 1215px) {
  .wrapper .pricing .pricing__container .pricing__list .price__block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.wrapper .team .team__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1372px;
  margin: 0 auto;
}
.wrapper .team .team__container .team__title {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  line-height: 136.1111111111%;
  font-weight: bold;
  text-align: center;
  padding-top: 115px;
  margin-bottom: 30px;
}
.wrapper .team .team__container .team__text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 133.3333333333%;
  text-align: center;
  margin-bottom: 115px;
}
.wrapper .team .team__container .team__profile-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.wrapper .team .team__container .team__profile-block .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 390px;
  margin: 10px;
}
.wrapper .team .team__container .team__profile-block .profile .profile_img {
  margin-bottom: 40px;
  width: 100%;
  height: auto;
}
.wrapper .team .team__container .team__profile-block .profile .profile_name {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 91.6666666667%;
  text-align: center;
  letter-spacing: 0.1em;
  color: #000000;
  margin-bottom: 15px;
}
.wrapper .team .team__container .team__profile-block .profile .profile_post {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 110%;
  text-align: center;
  letter-spacing: 0.1em;
  color: #000000;
  margin-bottom: 40px;
}
.wrapper .team .team__container .team__profile-block .profile .profile_social {
  width: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 115px;
}
@media (max-width: 1230px) and (min-width: 1024px) {
  .wrapper .team .team__container .team__profile-block .profile .profile_social {
    width: 250px;
  }
}
.wrapper .team .team__container .team__profile-block .profile .profile_social li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 50px;
  height: 50px;
  background: #F0F1F1;
  border: 1px solid #00897B;
  border-radius: 10px;
}
.wrapper .team .team__container .team__profile-block .profile .profile_social li:hover {
  background: #FFFFFF;
  cursor: pointer;
}
.wrapper .team .team__container .team__profile-block .profile .profile_social li img {
  margin: auto;
}
@media (max-width: 1230px) and (min-width: 1024px) {
  .wrapper .team .team__container .team__profile-block .profile {
    max-width: 360px;
    margin: 10px;
  }
}
@media (max-width: 1023px) and (min-width: 320px) {
  .wrapper .team .team__container .team__profile-block .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 1023px) {
  .wrapper .team .team__container .team__profile-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.wrapper .team .team__container .team__next-prev-button {
  min-width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 115px;
}
.wrapper .team .team__container .team__next-prev-button .next-prev-button {
  width: 20px;
  height: 20px;
  background: #00897B;
  border-radius: 20px;
}
.wrapper .team .team__container .team__next-prev-button .next-prev-button:hover {
  background: #3949AB;
}
.wrapper .team .team__container .team__next-prev-button .next-prev-button:first-child {
  background: #3949AB;
}
.wrapper .blog {
  background: #E4FDF9;
}
.wrapper .blog .blog__container {
  max-width: 1372px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .blog .blog__container .blog__title {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  line-height: 136.1111111111%;
  font-weight: bold;
  text-align: center;
  padding-top: 115px;
  margin-bottom: 30px;
}
.wrapper .blog .blog__container .blog__text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 133.3333333333%;
  text-align: center;
  margin-bottom: 115px;
}
.wrapper .blog .blog__container .blog__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1379px) and (min-width: 1024px) {
  .wrapper .blog .blog__container .blog__block {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 10px;
  }
}
@media (max-width: 1023px) and (min-width: 320px) {
  .wrapper .blog .blog__container .blog__block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.wrapper .blog .blog__container .blog__block-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1379px) and (min-width: 1024px) {
  .wrapper .blog .blog__container .blog__block-row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 10px;
  }
}
@media (max-width: 1023px) and (min-width: 320px) {
  .wrapper .blog .blog__container .blog__block-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.wrapper .blog .blog__container .block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 70px;
  max-width: 538px;
}
.wrapper .blog .blog__container .block__content .block__content_title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 73.3333333333%;
  letter-spacing: 0.1em;
  color: #000000;
  margin-bottom: 50px;
}
.wrapper .blog .blog__container .block__content .block__content_title-green {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 73.3333333333%;
  letter-spacing: 0.1em;
  color: #00897B;
  margin-bottom: 50px;
}
.wrapper .blog .blog__container .block__content .block__content_time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}
.wrapper .blog .blog__container .block__content .block__content_time .time_calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 122.2222222222%;
  letter-spacing: 0.1em;
  color: #000000;
}
.wrapper .blog .blog__container .block__content .block__content_time .time_calendar:before {
  content: url("../img/Blog/calendar.png");
  padding-right: 20px;
}
.wrapper .blog .blog__container .block__content .block__content_time .time_doc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 122.2222222222%;
  letter-spacing: 0.1em;
  color: #000000;
  margin-left: 70px;
}
.wrapper .blog .blog__container .block__content .block__content_time .time_doc:before {
  content: url("../img/Blog/doc.png");
  padding-right: 20px;
}
.wrapper .blog .blog__container .block__content .block__content_text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 144.4444444444%;
  letter-spacing: 0.1em;
  color: #000000;
}
@media (max-width: 1023px) and (min-width: 320px) {
  .wrapper .blog .blog__container .block__content .block__content_text {
    text-align: center;
  }
}
@media (max-width: 1379px) {
  .wrapper .blog .blog__container .block__content {
    margin: 20px;
  }
}
@media (max-width: 1023px) and (min-width: 320px) {
  .wrapper .blog .blog__container .block__content {
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.wrapper .blog .blog__container .blog__block_img {
  width: 50%;
  height: auto;
}
@media (max-width: 1379px) and (min-width: 1024px) {
  .wrapper .blog .blog__container .blog__block_img {
    width: 49%;
    height: auto;
  }
}
@media (max-width: 1023px) and (min-width: 320px) {
  .wrapper .blog .blog__container .blog__block_img {
    width: 100%;
    height: auto;
  }
}
.wrapper .contact {
  background-color: #222321;
}
.wrapper .contact .contact__container {
  margin: 0 auto;
  max-width: 1205px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .contact .contact__container .contact__title {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  line-height: 136.1111111111%;
  font-weight: bold;
  text-align: center;
  padding-top: 115px;
  margin-bottom: 30px;
  color: #FFFFFF;
}
.wrapper .contact .contact__container .contact__text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 133.3333333333%;
  text-align: center;
  margin-bottom: 115px;
  color: #FFFFFF;
}
.wrapper .contact .contact__container .contact__group {
  width: 100%;
  min-height: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 10px 115px 10px;
}
.wrapper .contact .contact__container .contact__group .contact__group_mini-container {
  max-width: 308px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .contact .contact__container .contact__group .contact__group_mini-container .contact__group_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 110px;
  height: 110px;
  background: #3949AB;
  border-radius: 110px;
  margin-bottom: 40px;
}
.wrapper .contact .contact__container .contact__group .contact__group_mini-container .contact__group_text {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 136.3636363636%;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  text-align: center;
}
.wrapper .contact .contact__container .contact__group .contact__group_mini-container:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
@media (max-width: 1023px) {
  .wrapper .contact .contact__container .contact__group {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.wrapper .contact .contact__container .contact__form-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .contact .contact__container .contact__form-block .form-block__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1205px;
  width: 100%;
  margin-bottom: 50px;
}
.wrapper .contact .contact__container .contact__form-block .form-block__input .input_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 580px;
  width: 100%;
  margin: 5px;
}
.wrapper .contact .contact__container .contact__form-block .form-block__input .input_item .input_item_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 98%;
  height: 100px;
  background: #FFFFFF;
  border-radius: 20px;
  margin-bottom: 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-left: 30px;
}
.wrapper .contact .contact__container .contact__form-block .form-block__input .input_item .input_item_item::-webkit-input-placeholder {
  /* Chrome */
  color: #000000;
}
.wrapper .contact .contact__container .contact__form-block .form-block__input .input_item .input_item_item::-ms-input-placeholder {
  /* IE 10+ */
  color: #000000;
}
.wrapper .contact .contact__container .contact__form-block .form-block__input .input_item .input_item_item:last-child {
  margin-bottom: 0;
}
@media (max-width: 1023px) {
  .wrapper .contact .contact__container .contact__form-block .form-block__input .input_item .input_item_item:last-child {
    margin-bottom: 40px;
  }
}
.wrapper .contact .contact__container .contact__form-block .form-block__input .input_message {
  max-width: 570px;
  width: 100%;
  height: 380px;
  background: #FFFFFF;
  border-radius: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 36px 30px;
  margin: 5px;
}
.wrapper .contact .contact__container .contact__form-block .form-block__input .input_message::-webkit-input-placeholder {
  /* Chrome */
  color: #000000;
}
.wrapper .contact .contact__container .contact__form-block .form-block__input .input_message::-ms-input-placeholder {
  /* IE 10+ */
  color: #000000;
}
@media (max-width: 1023px) {
  .wrapper .contact .contact__container .contact__form-block .form-block__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.wrapper .contact .contact__container .contact__form-block .contact__form-block_button {
  width: 400px;
  height: 100px;
  background: #3949AB;
  border-radius: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 107.6923076923%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 115px;
}
.wrapper .contact .contact__container .contact__form-block .contact__form-block_button:hover {
  text-decoration: underline;
}
.wrapper .footer .footer__container {
  margin: 0 auto;
  min-height: 190px;
  max-width: 1372px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .footer .footer__container .footer__menu-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper .footer .footer__container .footer__menu-block .footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.wrapper .footer .footer__container .footer__menu-block .footer__menu .footer__menu-list {
  margin-right: 50px;
}
.wrapper .footer .footer__container .footer__menu-block .footer__menu .footer__menu-list:hover {
  text-decoration: underline;
}
.wrapper .footer .footer__container .footer__menu-block .footer__menu .footer__menu-list a {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: 0.1em;
  color: #000000;
}
.wrapper .footer .footer__container .footer__social-reserved .reserved {
  margin-bottom: 8px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 155.5555555556%;
  letter-spacing: 0.0025em;
  color: #000000;
}
.wrapper .footer .footer__container .footer__social-reserved .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.wrapper .footer .footer__container .footer__social-reserved .social a:hover {
  background-color: slategray;
}
.wrapper .footer .footer__container .footer__social-reserved .social a:nth-child(2) {
  margin: 0 30px 0 13px;
}